#card {
  display: inline-block;
  max-width: 250px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: #ffffff;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 0.8rem !important;
}

#card-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.testo-chiaro {
  color: rgba(0, 0, 0, 0.6);
}

.testo-scuro {
  color: rgba(0, 0, 0, 0.87);
}
