@property --light {
  syntax: '<color>';
  inherits: true;
  initial-value: #ffffff;
}
@property --dark {
  syntax: '<color>';
  inherits: true;
  initial-value: #7e133e;
}

body {
  background: #f5f9f4;
  font-family: 'EB Garamond', serif;
  color: #36543a;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

#body {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.full {
  min-height: 100vh;
}

.light-bg {
  background: var(--light); /* e8f5e3 */
  color: var(--dark);
}

.dark-bg {
  background: var(--dark); /* faf7d4 */
  color: var(--light);
}

.footer {
  background: var(--dark);
  color: var(--light);
  padding-top: 60px;
  padding: 60px 150px 0;
  text-align: center;
}

.btn {
  box-sizing: border-box;
  background-color: color-mix(in lab, var(--dark) 80%, #000000 20%);
  box-shadow: inset 0px 0px 0px 1px
    color-mix(in lab, var(--dark) 50%, #ffffff 50%);
  color: var(--light);
  border: none;
  padding: 12px 28px;
  border-radius: 30px;
  font-size: 1.1rem;
  transition: 0.3s;
}
.btn:hover {
  background-color: color-mix(in lab, var(--dark) 90%, #ffffff 10%);
  color: var(--light);
  box-shadow: inset 0px 0px 0px 3px
    color-mix(in lab, var(--dark) 50%, #ffffff 50%);
}

#conclusione-testo {
  opacity: var(--progress);
}

#conclusione-paroladelgiorno {
  opacity: var(--progress);
}
